.Background {
    background-image: url("../../assets/background.jpg"); 
    background-size: 100% 100%;
    height: 100vh;
}

#bridge:hover {
    content: url("../../assets/bridge.gif");
    /* animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards; */
}

#hunch {
    transition-property: width;
    transition-duration: 2s;
}

#hunch:hover {
    content: url("../../assets/hunchback.gif");
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#hunch::after {
    width: 300px;
    animation-name: zoom;
    animation-duration: 2s;
}

@keyframes zoom {
    from {transform:scale(1)}
    to {transform:scale(2)}
  }